<li class="timeline-inverted">
  <div class="timeline-image">
    {% if include.page.image %}
    <img class="img-me" src="{{ site.baseurl }}/{{ include.page.image }}" alt="">
    {% endif %}
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      {% if page.projecturl %}
      <h4><a href="{{ page.projecturl }}" target="_blank">{{ include.page.title }}</a></h4>
      {% else %}
      <h4><a href="{{ site.baseurl}}{{ include.page.url }}" target="_blank">{{ include.page.title }}</a></h4>
      {% endif %}
    </div>
    <div class="timeline-body">
      {{ include.page.summary }}
      <div user="{{ include.page.gh_user }}" repo="{{ include.page.repo }}" class="ghbtn" style="margin-top: 10px;">
        <a target="_blank" href="https://github.com/{{ include.page.gh_user }}/{{ include.page.repo }}/stargazers"><i class="ui star icon"></i><span class="star"> ...</span></a>&emsp;&emsp;
        <a target="_blank" href="https://github.com/{{ include.page.gh_user }}/{{ include.page.repo }}/branchs"><i class="ui code-fork icon"></i><span class="fork"> ...</span></a>&emsp;&emsp;
        <a target="_blank" href="https://github.com/{{ include.page.gh_user }}/{{ include.page.repo }}/watchers"><i class="ui eye icon"></i><span class="watchers">...</span></a>
        <div style="height: 10px;"></div>
      </div>
    </div>
  </div>
</li>
